body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.garden-container {
    padding: 0px;
    margin: auto;
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: space-around;
}

.garden-card {
    box-shadow: 3px 5px 8px black;
    margin: 40px;
    max-width: 400px;
    max-height: 400px;
}

.garden-card img {
    max-width: inherit;
}