.flex-container {
    display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  margin-top: 40px;
  border-radius: 50%;
  max-width: 300px;
}

.labels {
  font-size: 2.5em;
}